<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <link rel="stylesheet" href="/css/site.css" charset="utf-8">
  </head>
  <body>
    <div class="header flex-col">
      <div class="flex-row">
        <img class="logo" src="/images/simple-logo.svg"></img>
      </div>
      <div class="flex-col center">
        <div class="title flex-col center">
          <h1>DNS for Developers</h1>
          <h2>13 June 2015</h2>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="post">
        {{.Doc.body}}
      </div>
    </div>

    <div class="footer">
      <p>Dennis lives in Berkeley, CA and tries his best to leave things better than he found them.</p>
    </div>
  </body>
</html>
